@model ProMaster.Core.Lease.ViewModels.RentPaymentViewModel

<div class="display-label">
    Transferred to Owner:
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.IsRentTransferred)
</div>