@{
    ViewBag.Title = "About";
}


<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">
      
      	<div class="side_title-logo">
        	<img src="@Url.Content("~/Content/Images/aboutus.png")" alt="" title="About" />
            
        </div>
        <div class="side_title_caption">
        	<h3>About</h3>
        	<br>
            All about us...
        
        </div>
      </div>
      
      
      
      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </aside> <!-- End of aside -->

  <div class="main">	
      <div class="about">
      	<div class="about-content">
        	<div class="about-content-title"><h4><i class="fa fa-eye"></i> Our Vision and Mission</h4></div>
            <div class="title-content">
            	<div class="text_icon"><img src="@Url.Content("~/Content/Images/vision.png")" /></div><span class="dropcap">P</span>sroin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing.
            </div>
            <div class="about-content-title"><h4><i class="fa fa-cog"></i> Our Profession and Expertise</h4></div>
            <div class="title-content">
            	<div class="text_icon"><img src="@Url.Content("~/Content/Images/expertise.png")" /></div><span class="dropcap">W</span>roin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing.
            </div>
            <div class="about-content-title"><h4><i class="fa fa-envelope"></i> Get In Touch</h4></div>
            <div class="title-content">
            	<div class="text_icon"><img src="@Url.Content("~/Content/Images/contact.png")" /></div><span class="dropcap">G</span>roin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing.
            </div>
        </div>
      
      </div>
      
    </div> 
    <!-- End of main -->



</div> 