@{
    ViewBag.Title = "Construction";
}

<div class="content-wrapper">
    <aside> 
    <p><!-- Left Panel/Column -->
      <div id="left">
      	<div class="side_title-logo">
        	<img src="@Url.Content("~/Content/Images/construction.png")" alt="" title="Documents" />
            
        </div>
        <div class="side_title_caption">
        	<h3>Under Constructions</h3>
        	<br>
            <span>This section of the site is being worked on</span>
        
        </div>
      </div>
      
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </aside> <!-- End of aside -->

  <div class="main metro">
    <div id="add_edit_panel">
        <h3><i class="icon-warning" style="background:#B63300; color: rgb(243, 228, 115); padding: 10px; border-radius: 50%"></i> &nbsp; SITE UNDER CONSTRUCTION         	
          <span style="margin-top:0.25em;">Please Come Later Thanks.</span>
        </h3>
        <p></p>
        <p></p>
        
        <div id="construction">
            <img src="@Url.Content("~/Content/Images/under_constructioin.png")" />
        </div>
        <p></p>
        <p></p>
        
    </div>	
    	  
  </div><!-- End of main -->


</div>
