<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- Log4Net Configuration -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- <add name="DefaultConnection" connectionString="Data Source=.\SQLSERVER;Initial Catalog=aspnet-ProMaster.Web-20130812095351;Integrated Security=SSPI" providerName="System.Data.SqlClient" /> -->
    <add name="ProMaster" connectionString="Data Source=.\SQLSERVER;Initial Catalog=ProMaster;User ID=pms2; Password=1234567" providerName="System.Data.SqlClient" />
    <add name="ProMasterUserProfileDataEntities" connectionString="metadata=res://*/UserProfile.ProMasterUserProfileDataModel.csdl|res://*/UserProfile.ProMasterUserProfileDataModel.ssdl|res://*/UserProfile.ProMasterUserProfileDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER;initial Catalog=ProMaster;persist security info=True;user id=pms2;password=1234567;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterPropertyOwnerDataEntities" connectionString="metadata=res://*/PropertyOwner.ProMasterPropertyOwnerDataModel.csdl|res://*/PropertyOwner.ProMasterPropertyOwnerDataModel.ssdl|res://*/PropertyOwner.ProMasterPropertyOwnerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterPropertyDataEntities" connectionString="metadata=res://*/Property.ProMasterPropertyDataModel.csdl|res://*/Property.ProMasterPropertyDataModel.ssdl|res://*/Property.ProMasterPropertyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterManagementContractDataEntities" connectionString="metadata=res://*/Contract.ProMasterManagementContractDataModel.csdl|res://*/Contract.ProMasterManagementContractDataModel.ssdl|res://*/Contract.ProMasterManagementContractDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterTenantDataEntities" connectionString="metadata=res://*/Tenant.ProMasterTenantDataModel.csdl|res://*/Tenant.ProMasterTenantDataModel.ssdl|res://*/Tenant.ProMasterTenantDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterLeaseDataEntities" connectionString="metadata=res://*/Lease.ProMasterLeaseDataModel.csdl|res://*/Lease.ProMasterLeaseDataModel.ssdl|res://*/Lease.ProMasterLeaseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterDocumentDataEntities" connectionString="metadata=res://*/Documents.ProMasterDocumentDataModel.csdl|res://*/Documents.ProMasterDocumentDataModel.ssdl|res://*/Documents.ProMasterDocumentDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="ProMasterTenancyDataEntities" connectionString="metadata=res://*/Tenancy.ProMasterTenancyDataModel.csdl|res://*/Tenancy.ProMasterTenancyDataModel.ssdl|res://*/Tenancy.ProMasterTenancyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="PromMasterVendorDataEntities" connectionString="metadata=res://*/Vendor.PromMasterVendorDataModel.csdl|res://*/Vendor.PromMasterVendorDataModel.ssdl|res://*/Vendor.PromMasterVendorDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterAccountingDataEntities" connectionString="metadata=res://*/Accounting.ProMasterAccountingDataModel.csdl|res://*/Accounting.ProMasterAccountingDataModel.ssdl|res://*/Accounting.ProMasterAccountingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterStrataCouncilDataEntities" connectionString="metadata=res://*/StrataCouncil.ProMasterStrataCouncilDataModel.csdl|res://*/StrataCouncil.ProMasterStrataCouncilDataModel.ssdl|res://*/StrataCouncil.ProMasterStrataCouncilDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProMasterReportingDataModelEntities1" connectionString="metadata=res://*/Reporting.ProMasterReportingDataModel1.csdl|res://*/Reporting.ProMasterReportingDataModel1.ssdl|res://*/Reporting.ProMasterReportingDataModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLSERVER;Initial Catalog=ProMaster;Persist Security Info=True;User ID=pms2;Password=1234567;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ProMasterClientPortalDataEntities" connectionString="metadata=res://*/ClientPortal.ProMasterClientPortalDataEntities.csdl|res://*/ClientPortal.ProMasterClientPortalDataEntities.ssdl|res://*/ClientPortal.ProMasterClientPortalDataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER;initial catalog=ProMaster;persist security info=True;user id=pms2;password=1234567;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ProMasterLogReportingDataEntities" connectionString="metadata=res://*/Logging.ProMasterLogReportingDataModel.csdl|res://*/Logging.ProMasterLogReportingDataModel.ssdl|res://*/Logging.ProMasterLogReportingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER;initial catalog=ProMaster;persist security info=True;user id=pms2;password=1234567;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="ProMaster.Web" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" name=".PROMAUTH" />
    </authentication>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" executionTimeout="1600" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly" />
    <!-- Change it to On whne go live -->
    <!--<error statusCode="404" redirect="~/Home/NoFountd" />-->
    <!--</customErrors>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <!-- Log4Net Configuration -->
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\SQLSERVER;Initial Catalog=ProMaster;User ID=pms2; Password=1234567" providerName="System.Data.SqlClient" />
      <commandText value="INSERT INTO Log4Net_Error ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
</configuration>
