@model ProMaster.Core.Accounting.ViewModels.AccountingCostViewModel

@{
    ViewBag.Title = "_ManagementFee";
}

<h4>Management Fee</h4>
@if (Model.FeeList.Count() != 0)
{
    <ul>
            @foreach (var item in Model.FeeList)
            { 
                <li>
                    @item.ManagementFeeId
                    @item.ManagementFeeAmount
                    @item.IsManagementFeeReceived
                    
                </li>
            }
    
    </ul>  

    <p></p> 
    <strong>Total Management Fees: $@ViewBag.totalfee</strong>
}
else
{
    <i>No Fees Found</i> 
}

