@model ProMaster.Core.Accounting.ViewModels.AccountingCostViewModel

@{
    ViewBag.Title = "_OtherCost";
}

<h4>_OtherCost</h4>
@if (Model.CostList.Count() != 0)
{
    <ul>
            @foreach (var item in Model.CostList)
            { 
                <li>
                    @item.OtherCostName
                    @item.CostDetails
                    @item.CostAmount
                    @item.CostAddDate
                </li>
            }
    
    </ul>  

    <p></p> 
    <strong>Total Repair Cost: $@ViewBag.totalcost</strong>
}
else
{
    <i>No Other Costs Found</i> 
}