@model ProMaster.Core.Accounting.ViewModels.AccountingCostViewModel

@{
    ViewBag.Title = "_RentRevenue";
}

<h4>Rent Revenue</h4>
@if (Model.RentRevenueList.Count() != 0)
{
    <ul>
            @foreach (var item in Model.RentRevenueList)
            { 
                <li>
                    @item.RentPaymentId
                    @item.RentPaymentMonth
                    @item.RentPamentYear
                    @item.RentPaymentAmount
                </li>
            }
    
    </ul>  

    <p></p> 
    <strong>Total ent Revenue: $@ViewBag.totalrevenue</strong>
}
else
{
    <i>No Rent Revenue Found</i> 
}