
<div class="bar">
    <div style="float:left; font-size: 2em; color: #E77524; display: inline;"><i class=" icon-user-2"></i>&nbsp; <span style="font-size: 0.75em; color:aliceblue;">About Us</span></div>
    
    <i class="icon-mail" style="font-size: 2em; color:#ffa500; cursor: pointer;" title="Contact us"></i>

</div>

<div>
    <div id="images">
        <img src="/content/assets/images/house.jpg" title="Find what you need" />
        <img src="/content/assets/images/contract.jpg" title="Get what you need" />
        <img src="/content/assets/images/hands.jpg" title="Services you can reply on " />
    </div>
    <div id="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
    </div>
</div>


