
<form class="form-horizontal" style="overflow-x: hidden;">
    <fieldset>

        <!-- Form Name -->
        <legend></legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Key Words</label>
            <div class="col-md-6">
                <input id="textinput" name="textinput" type="text" placeholder="key words" class="form-control input-md" autofocus="">
                <!--<span class="help-block">help</span>-->
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Country</label>
            <div class="col-md-6">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">Canada</option>
                    <!--<option value="2">United States</option>-->
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Province/State</label>
            <div class="col-md-6">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">British Columbia</option>
                    <!--<option value="2">Washington</option>-->
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">City</label>
            <div class="col-md-6">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">Vancouver</option>
                    <option value="2">Burnaby</option>
                    <option value="3">Coquitlam</option>
                    <option value="4">Surrey</option>
                    <option value="5">North Vancouver</option>
                    <option value="6">West Vancouver</option>
                    <option value="7">New Westminster</option>
                    <option value="8">Richmond</option>
                    <option value="9">Malple Ridge</option>
                    <option value="10">Langley</option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Property Type</label>
            <div class="col-md-6">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">All Types</option>
                    <option value="2">Individual House</option>
                    <option value="3">Apartment</option>
                    <option value="4">Town House House</option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">No. of Bedrooms</label>
            <div class="col-md-3">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4+</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">No. of Bathrooms</label>
            <div class="col-md-3">
                <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4+</option>
                </select>
            </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="checkboxes">Features</label>
            <div class="col-md-4">
                <div class="checkbox">
                    <label for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                        Laundry
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkboxes-1">
                        <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                        Dishwasher
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkboxes-1">
                        <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                        Paking
                    </label>
                </div>
            </div>
        </div>





        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Find</button>
            </div>
        </div>

    </fieldset>
</form>