@model System.Web.Mvc.HandleErrorInfo

<!--
@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>
-->

@{
    ViewBag.Title = "Error";
}

<div class="content-wrapper">
    <aside>
        <p>
            <!-- Left Panel/Column -->
            <div id="left">
                <div class="side_title-logo">
                    <img src="@Url.Content("~/Content/Images/sign-error.png")" alt="" title="Documents" />

                </div>
                <div class="side_title_caption">
                    <h3>Error Occured!</h3>
                    <br>
                    <span>An error occurred while processing your request.</span>

                </div>
            </div>

        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </aside> <!-- End of aside -->

    <div class="main metro">
        <div id="add_edit_panel">
            <h3>
                <i class="icon-warning" style="background:#B63300; color: rgb(243, 228, 115); padding: 10px; border-radius: 50%"></i> &nbsp; ERROR
                <span style="margin-top:0.25em;">Please contact your system administrator.</span>
            </h3>
            <p></p>
            <p></p>

            <div id="construction">
                <img src="@Url.Content("~/Content/Images/oops.png")" />
            </div>
            <p></p>
            <p></p>

        </div>

    </div><!-- End of main -->


</div>
